<h1>Login</h1>
<%= form_with(scope: :session, url:sessions_path, local:true) do |f| %>

  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 offset-md-3">
        <div class = "card">
          <div class = "card-body">
            <%= f.label :email %>
            <p><%= f.text_field :email %></p>

            <%= f.label :password %>
            <p><%= f.text_field :password %></p>

            <p><%= f.submit 'ログイン' %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<style>
p {
  width:100%;
  height:30px;
}
p input{
  width:100%;
}
body{
  background-color:#f5f0f2;
}
</style>