<h1><%= @user.name%>さんのProfile</h1>

<div class = "container">
  <div class = "row">
    <div class = "col-md-6 offset-md-3">
      <div class = "card">
        <div class = "card-body">
          <p>name: <%= @user.name %></p>
          <p>email: <%= @user.email %></p>
          <p>image: <%= image_tag @user.image.url %></p>
          <% if @user.id == current_user.id %>
            <button class = "btn btn-secondary btn-sm">
              <%= link_to "編集", edit_user_path(@user.id), data: { confirm: '本当に編集していいですか？'} %>
            </button>
          <% end %>
          <button class = "btn btn-secondary btn-sm">
            <%= link_to "お気に入り一覧", favorites_path %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  p img{
    height:200px;
  }

  .card {
    background-color:#edeff0;
  }
  .btn-secondary a{
    color:white;
  }
</style>