<%= form_with(model: picture, url: choose_new_or_edit , local: true) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this <%= picture.content %> from being saved:</h2>
      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :image %>
  <%= image_tag( picture.image.url) if picture.image && picture.image.url %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>

  <%= f.submit '投稿する！' %>
  <%= link_to '一覧に戻る', pictures_path %>
<% end %>